:root {
    --green-main: #61be6b;
    --green-dark: #70fc7f73;
    --green-light: #8dfb99;
    --gray-text: #676767;
    --main-text: #ffffff;
    --gray: #456278;
    --nav-height : 90px;
    --transition: 1.2s;
    --black-bg: #000000;
    --gray-bg: #e5e5e5;
}
.green-bg {
    background-color: var(--green-main);
}
.green-dark  {
    color: var(--green-dark);
}
.green-light {
    color: var(--green-light);
}
.gray-text {
    color: var(--gray-text);
}
.main-text  {
    color: var(--main-text);
}
.green-text {
    color: var(--green-main);
}
.gray {
    color: var(--gray);
}
.white-bg {
    background-color: white;
}
.black-bg {
    background-color: var(--black-bg);
}
.navbar-text {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: white;
}
.form-bg {
    background-color: var(--gray-bg);
}
/* large screen colors start */
@media (min-width: 992px) {
    .white-lg-bg {
        background-color: white;
    }
    .navbar-lg-text {
        font-family: 'Montserrat-Bold';
        font-size: 18px;
        color: var(--grey);
    }
    .grey-lg {
        color: var(--grey);
    }
}

/* large screen colors end */
body {
    margin-top: var(--nav-height);
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat-Bold';
}
h2{
    font-size: 36px;
}
.button-main {
    border: 4px solid var(--green-main);
    border-radius: 30px;
    padding: .75rem 1rem;
    font-family: 'Montserrat-Bold';
    font-size: 15px;
    color: var(--grey);
    transition: 0.1s ease-in-out;
}
.button-main:hover {
    color: var(--main-text);
    background-color: var(--green-main);
}
nav {
    height: 90px;
    top: 0;
    z-index: 99;
}
ul{
    list-style: none;
}
nav div a img {
    width: 120px;
}
/* mobile view start */

/* navbar start */
@media (max-width: 992px){
    .hamburger-menu {
        right: 50px;
        width: 40px;
        height: 28px;
        z-index: 1;
    }
    .line {
        height: 5px;
        width: 100%;
        gap: 10px;
        border-radius: 10px;
        background-color: var(--green-main);
        transition: transform 0.5s ease-in-out, 
        opacity 0.55s ease; 

    }
    .hamburger-menu .line:nth-child(1) {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .hamburger-menu .line:nth-child(2) {
        transition: transform 0.2s ease-in-out;
    }
    .hamburger-menu .line:nth-child(3) {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .hamburger-menu.cross-line .line:nth-child(1) {
        transform: rotate(45deg) translate(-2px, -1px);
    }
    .hamburger-menu.cross-line .line:nth-child(2) {
        transform: scaleY(0);
    }
    .hamburger-menu.cross-line .line:nth-child(3) {
        transform: rotate(-45deg) translate(-1px, 0);
    }
    .navbar-menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        z-index: 99;
        height: calc(100vh - 90px);
        background-color: var(--green-main);
        transform: translateX(0%);
        transition: transform 0.2s ease-in-out;
    }
    .navbar-menu.active {
        display: flex;
        top: 100%;
        left: 100%;
        transform: translateX(-100%);
    }
    .navbar-menu .phone {
        bottom: 3rem;
    }
    .list-border {
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        width: 60%;
    }
    .phone img {
        width: 16px;
        height: 16px;
    }
    .phone a {
        text-align: center;
    }
    .main-header {
        margin: .75rem 0 2rem 0;
    }
}
/* navbar end */
/* footer start */
    footer ul li a:hover {
        color: var(--green-main);
    }
    footer p {
        font-size: 12px;
    }
/* footer end */

/* contact section start */
.contact-header {
    top: 40%;
    z-index: 1;
    font-size: 40px;
}
.map {
    border-radius: 20px;
    min-height: 400px;
    box-shadow: 0px 0px 5px 3px rgb(229 229 229);
}
.map-wrapper {
    padding: 0;
    margin: 0;
}
.form-wrapper {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px rgb(229 229 229);
}
form input {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    padding: .5rem 0;
}
form input::placeholder {
    font-family: 'Montserrat-Regular';
    color: black;
    font-size: 16px;
}
form input:focus::placeholder {
    color: rgb(140 140 140);
}
.send-btn {
    background-color: var(--green-main);
    color: white;
    background-image: url('../icons/send-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 12rem;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.1s ease-in-out;
}
.send-btn:hover {
    background-color: white;
    color: var(--green-main);
    background-image: url('../icons/send-icon-hover.svg');
}
/* contact section end */
/*mobile view end */

/* desktop view start */

@media (min-width: 992px) {
    .navbar-menu li::before {
        content: "";
        background-color: var(--green-main);
        border-radius: 100%;
        width: 6px;
        height: 6px;
        position: absolute;
        margin-left: -1.3rem;
        top: 50%;
        transform: translateY(-50%);
    }
    /* border-buttom kullanarak alt çizgi yapma */
    /* .navbar-menu li.selected {
        border-bottom: 3.5px solid var(--green-main);
    } */

    /* ::after pseudo class ile alt çizgi yapma */
    .navbar-menu li.selected::after {
        content: "";
        background-color: var(--green-main);
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: -.5rem;
    }
    .navbar-menu li {
        transition: transform 0.2s ease-in-out;
    }
    .navbar-menu li:hover {
        transform: scale(1.1);
    }
    .main-header p ,h2  {
        text-align: center;
    }
    .main-header h2 {
        font-size: 40px;
    }
    .footer-lg li img {
        width: 34px;
    }
    /* contact section start */
    .map-wrapper {
        align-self: flex-end;
    }
    .map-wrapper .map {
        min-height: 560px;
    }
    .form-wrapper {
        align-self: flex-end;
    }
    /* contact section end */
}
/* desktop view end */